

<ion-content>

    <div class="body_warrper">
      <header class="header_area">
        <div class="container">
          <button routerLink="/find-college" class="btn-back"><img src="assets/images/back.png" alt="back" title=""></button>
         <!--  <button class="btn-nav"><img src="images/navbar.png" alt="back" title=""></button> -->
          <h2>Collage Details</h2>
        </div>
      </header>

      <div class="body_area">

        <div class="platform_main_area">
          <div class="main_body_area">
            <div class="container">
                <div class="collage_details_heading">
                    <div class="icon"><img src="assets/images/icon20.png" alt="icon" tittle=""></div>
                    <h1>Indian Institute of Management (IIMB)</h1>
                    <ul>
                        <li>
                            <img src="assets/images/icon21.png">
                            Bangalore, Karnataka
                        </li>
                        <li>
                            <img src="assets/images/icon22.png">
                            Estd 1973,
                        </li>
                        <li>
                            <img src="assets/images/icon23.png">
                            Ranked 2 for Mba by Nirf 2020
                        </li>
                    </ul>
                </div>
                <div class="banner_area">
                    <div class="d-flex justify-content-between">
                        <button class="btn-banner active">Photos</button>
                        <button class="btn-banner">Map</button>
                    </div>
                    <div class="banner_box">
                        <img src="assets/images/banner2.png" alt="banner image" title="" />
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="banner_box_two"><img src="assets/images/banner2.png" alt="banner image" title=""></div>
                        <div class="banner_box_two"><img src="assets/images/banner3.png" alt="banner image" title=""></div>
                    </div>
                </div>
                <div class="top_course_area">
                    <h3>Top Courses</h3>
                    <div class="top_course_list">
                        <ul>
                            <li>
                                <div class="top_course">
                                    <img src="assets/images/course-bg1.jpg" alt="" title="" class="img">
                                    <h4>Ph.d Finance &  Accounts</h4>
                                    <button class="btn-link">5 years >></button>
                                </div>
                            </li>
                            <li>
                                <div class="top_course">
                                    <img src="assets/images/course-bg2.jpg" alt="" title="" class="img">
                                    <h4>Ph.d Finance &  Accounts</h4>
                                    <button class="btn-link">5 years >></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button class="btn-primary btn2">Download Brochure</button>
                    <button class="btn-primary">APPLY NOW</button>
                </div>
                <div class="select">
                    <ul>
                        <li>
                            <button class="btn-course active">Info</button>
                        </li>
                        <li>
                            <button class="btn-course">Courses & Fees</button>
                        </li>
                        <li>
                            <button class="btn-course">Admission 2021</button>
                        </li>
                        <li>
                            <button class="btn-course">Placement</button>
                        </li>
                    </ul>
                </div>
                <div class="contain_box">
                    <p>Indian Institute of Management (IIM), Bangalore is the 3rd IIM, established after IIM Calcutta. It was institutionalised in 1973, to provide managers for public sector companies due to growing demands. IIM Bangalore is a distinguished Management institute in not...</p>
                    <button class="btn-link">Read More</button>
                </div>
                <div class="contain_box">
                    <h5>Find Courses at Indian Institute of Management (IIMB)</h5>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search Courses..">
                        <button class="btn-search"><i class="zmdi zmdi-search"></i></button>
                    </div>
                </div>
                <div class="select">
                    <h6>Select degree :</h6>
                    <ul>
                        <li>
                            <button class="btn-course">PGPBA</button>
                        </li>
                        <li>
                            <button class="btn-course">Fellowship</button>
                        </li>
                        <li>
                            <button class="btn-course">Ph.D</button>
                        </li>
                        <li>
                            <button class="btn-course">PGP-PPM</button>
                        </li>
                        <li>
                            <button class="btn-course">Executive</button>
                        </li>
                    </ul>
                </div>
                <div class="select">
                    <h6>Select Stream :</h6>
                    <ul>
                        <li>
                            <button class="btn-course">Management</button>
                        </li>
                        <li>
                            <button class="btn-course">Science</button>
                        </li>
                        <li>
                            <button class="btn-course">Arts</button>
                        </li>
                    </ul>
                </div>
                <div class="contain_box_two">
                    <h3>Post Graduate Programme in Enterprise Management [PGPEM]</h3>
                    <p>
                        2 year, Degree, On Campus, Post Graduation<br/>
                        Total Fees : <span class="price">₹1,850,000</span>
                    </p>
                    <p>
                        <strong>Exams Accepted :</strong> CAT / GMAT / GRE<br/>
                        <strong>Ranking :</strong> #2 Managment - NIRE<br/>
                        <strong>1 Streams :</strong> Enterprise Management
                    </p>
                    <button class="btn-link">Admission Guide2021</button>
                    <button class="btn-link btn-link2">Download Brochure</button>
                </div>
                <div class="contain_box_two">
                    <h3>Post Graduate Programme in Enterprise Management [PGPEM]</h3>
                    <p>
                        2 year, Degree, On Campus, Post Graduation<br/>
                        Total Fees : <span class="price">₹1,850,000</span>
                    </p>
                    <p>
                        <strong>Exams Accepted :</strong> CAT / GMAT / GRE<br/>
                        <strong>Ranking :</strong> #2 Managment - NIRE<br/>
                        <strong>1 Streams :</strong> Enterprise Management
                    </p>
                    <button class="btn-link">Admission Guide2021</button>
                    <button class="btn-link btn-link2">Download Brochure</button>
                </div>
                <div class="banner_area">
                    <div class="d-flex justify-content-between">
                        <button class="btn-banner active">News</button>
                        <button class="btn-banner">Faculties</button>
                    </div>
                    <div class="course_box">
                        <div class="img_box"><img src="assets/images/course-bg3.jpg" alt="course bg" title=""></div>
                        <button class="btn-link">05th Dec, 2020</button>
                        <h3>Diploma in Engineering (Polytechnic)</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac auctor</p>
                    </div>
                    <div class="course_box">
                        <div class="img_box"><img src="assets/images/course-bg3.jpg" alt="course bg" title=""></div>
                        <button class="btn-link">05th Dec, 2020</button>
                        <h3>Diploma in Engineering (Polytechnic)</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac auctor</p>
                    </div>
                </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  
</ion-content>
