
<ion-content>

    <div class="body_warrper">
      <header class="header_area">
        <div class="container">
          <button routerLink="/sidebar" class="btn-back"><img src="assets/images/back.png" alt="back" title=""></button>
          <!-- <button class="btn-nav"><img src="assets/images/navbar.png" alt="back" title=""></button> -->
          <h2>about us</h2>
        </div>
      </header>

      <div class="body_area">

        <div class="platform_main_area">
          <div class="main_body_area">
            <div class="container">
              <div class="about_banner">
                <img src="assets/images/about-banner.jpg" alt="about banner" title="">
              </div>
              <div class="about_contain">
                <h1>What is <strong class="bg1">Make</strong><strong class="bg2">future</strong>?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae risus turpis. Praesent ac mi sed massa mattis venenatis malesuada eu lacus. Nam vitae varius nisi, eget gravida augue.</p>
              </div>
              <div class="about_course_box">
                <div class="icon_box"><img src="assets/images/icon13.png" alt="about icon" title=""></div>
                <h3>Over 5,000 Online Courses</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae risus turpis. nisi, eget gravida augue.</p>
              </div>
              <div class="about_course_box">
                <div class="icon_box"><img src="assets/images/icon14.png" alt="about icon" title=""></div>
                <h3>Well Certified Instructors</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae risus turpis. nisi, eget gravida augue.</p>
              </div>
              <div class="about_course_box">
                <div class="icon_box"><img src="assets/images/icon15.png" alt="about icon" title=""></div>
                <h3>Lifetime Access Gurantee</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae risus turpis. nisi, eget gravida augue.</p>
              </div>
              <h3 class="h3">latest news</h3>
              <div class="news_box">
                <div class="image_box"><img src="assets/images/news1.jpg" alt="news" alt=""></div>
                <div class="news_tag bg3">Education</div>
                <h4>Lorem ipsum dolor sit amet, conse ctetur</h4>
                <h5>Luke Cage - 3 hours ago</h5>
              </div>
              <div class="news_box">
                <div class="image_box"><img src="assets/images/news2.jpg" alt="news" alt=""></div>
                <div class="news_tag bg4">School</div>
                <h4>Lorem ipsum dolor sit amet, conse ctetur</h4>
                <h5>Luke Cage - 3 hours ago</h5>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  
</ion-content>
