
<ion-content>

    <div class="body_warrper">
      <header class="header_area">
        <div class="container">
          <button routerLink="/sidebar" class="btn-back"><img src="assets/images/back.png" alt="back" title=""></button>
         <!--  <button class="btn-nav"><img src="images/navbar.png" alt="back" title=""></button> -->
          <h2>Contact Us</h2>
        </div>
      </header>

      <div class="body_area">

        <div class="platform_main_area">
          <div class="main_body_area">
            <div class="container">
                
                <div class="address_area">
                    <div class="address_box">
                        <img src="assets/images/phone.png" alt="phone" title="" class="icon" />
                        <h3>Phone :</h3>
                        <p>(0123)-456-789</p>
                    </div>
                    <div class="address_box">
                        <img src="assets/images/mail.png" alt="mail" title="" class="icon" />
                        <h3>Email :</h3>
                        <p>info@makefuturetoday.com</p>
                    </div>
                    <div class="address_box">
                        <img src="assets/images/location2.png" alt="mail" title="" class="icon" />
                        <h3>Address :</h3>
                        <p>Aenean iaculis consequat quam id hendrerit</p>
                    </div>
                </div>
                
                <div class="form_box">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Phone" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Message"></textarea>
                    </div>
                    <button class="btn">Submit</button>
                </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  
</ion-content>
