
<ion-content>

    <div class="body_warrper">
      <header class="header_area">
        <div class="container">
          <button (click)="back()" class="btn-back" ><img src="assets/images/back.png" alt="back" title=""></button>
          <!-- <button class="btn-nav"><img src="assets/images/navbar.png" alt="back" title=""></button> -->
          <h2>Services</h2>
        </div>
      </header>

      <div class="body_area">

        <div class="platform_main_area">
          <div class="main_body_area">
            <div class="container">
              <div class="about_banner">
                <img src="assets/images/servicebg.png" alt="servicebg" title="">
              </div>
              <div class="about_contain">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae risus turpis. Praesent ac mi sed massa mattis venenatis malesuada eu lacus. Nam vitae varius nisi, eget gravida augue.</p>
              </div>
            </div>
            
            <div class="portfolio_area">
                <div class="container">
                    <h3>Our Services</h3>
                    <ul>
                        <li>
                            <div class="portfolio_box">
                                <img src="assets/images/icon20.png">
                                <h4>Student</h4>
                                <p>Suspendisse sit amet erat a lorem convallis imperdiet. Sed semper,</p>
                            </div>
                        </li>
                        <li>
                        <div class="portfolio_box">
                            <img src="assets/images/icon21.png">
                            <h4>Franchise</h4>
                            <p>Suspendisse sit amet erat a lorem convallis imperdiet. Sed semper,</p>
                        </div>
                        </li>
                    </ul>
                </div>
            </div>
            
          </div>
        </div>

      </div>

    </div>
  
</ion-content>
