

<ion-content>

    <div class="body_warrper">
      <header class="header_area">
        <div class="container">
          <button routerLink="/sidebar" class="btn-back"><img src="assets/images/back.png" alt="back" title=""></button>
          <!-- <button class="btn-nav"><img src="images/search.png" alt="search" title=""></button> -->
          <h2>Find Course</h2>
        </div>
      </header>

      <div class="body_area">

        <div class="platform_main_area">
          <div class="main_body_area">
            
            <div class="portfolio_area">
                <div class="container">
                    <h3>Search From over 10,000 Courses in India</h3>
                    <div class="find_course">
                        <div class="img_box">
                            <img src="assets/images/course7.png">                            
                        </div>
                        <h4>After 10th Courses</h4>
                        <p>Application for Diploma Courses & Certification Courses</p>
                        <ul>
                            <li>ITI</li>
                            <li>Arts</li>
                            <li>Dental</li>
                            <li>Animation</li>
                            <li>Vocational</li>
                        </ul>
                    </div>
                    <div class="find_course">
                        <div class="img_box">
                            <img src="assets/images/course8.png">                            
                        </div>
                        <h4>After 10th Courses</h4>
                        <p>Application for Diploma Courses & Certification Courses</p>
                        <ul>
                            <li>ITI</li>
                            <li>Arts</li>
                            <li>Dental</li>
                            <li>Animation</li>
                            <li>Vocational</li>
                        </ul>
                    </div>
                    <div class="find_course">
                        <div class="img_box">
                            <img src="assets/images/course9.png">                            
                        </div>
                        <h4>After 10th Courses</h4>
                        <p>Application for Diploma Courses & Certification Courses</p>
                        <ul>
                            <li>ITI</li>
                            <li>Arts</li>
                            <li>Dental</li>
                            <li>Animation</li>
                            <li>Vocational</li>
                        </ul>
                    </div>
                </div>
            </div>
            
          </div>
        </div>

      </div>

    </div>
  
</ion-content>
