 <ion-header >
  <ion-toolbar class="toolbar-background">
  <ion-buttons slot="start" >
   <ion-back-button class="button-native"></ion-back-button>
</ion-buttons>
<ion-title class="toolbar-title">Apply Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="body_warrper">
      <!-- <header class="header_area">
        <div class="container">
          <button routerLink="/sidebar" class="btn-back"><img src="assets/images/back.png" alt="back" title=""></button>
       
          <h2>Apply Form</h2>
        </div>
      </header> -->

      <div class="body_area">

        <div class="platform_main_area">
          <div class="main_body_area">
            <div class="container">
                
                <div class="apply_area">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Student Full Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="DOB" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Father's Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Father's Mobile" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Mother's Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Mother's Mobile" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nationality" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Caste" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Sex" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nationality Citizenship / Aadhaar No." />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Student's Mobile" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email Address:" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Parmanent Address:" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Local Guardian Address:" />
                    </div>
                    <div class="card">
                        <div class="card-heading">
                            Course Apply For
                        </div>
                        <div class="card-contain"></div>
                    </div>
                    <div class="card">
                        <div class="card-heading">
                          Academic Details  
                        </div>
                        <div class="card-contain"></div>
                    </div>
                    <div class="card">
                        <div class="card-heading">
                            Referral Details
                        </div>
                        <div class="card-contain"></div>
                    </div>
                    <div class="card">
                        <div class="card-heading">
                            Fee Details
                        </div>
                        <div class="card-contain"></div>
                    </div>
                    <button class="btn">submit</button>
                </div>
                
            </div>
          </div>
        </div>

      </div>

    </div>
  
</ion-content>
