
<ion-content>

    <div class="body_warrper">
      <header class="header_area">
        <div class="container">
          <button routerLink="/sidebar" class="btn-back"><img src="assets/images/back.png" alt="back" title=""></button>
          <!-- <button class="btn-nav"><img src="images/navbar.png" alt="back" title=""></button> -->
          <h2>Find A College</h2>
        </div>
      </header>

      <div class="body_area">

        <div class="platform_main_area">
          <div class="main_body_area">
            <div class="container">
                <div class="search_collage">
                    <div class="d-flex justify-content-between">
                        <div class="form-group">
                            <select class="form-control">
                                <option>State</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option>Course you are</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn-search"><i class="zmdi zmdi-search"></i></button>
                </div>
                <div class="find_course_area">
                    <div class="d-flex justify-content-center">
                        <button class="btn-course">Kolkata <i class="zmdi zmdi-caret-down"></i></button>
                        <button class="btn-course">Bangalore <i class="zmdi zmdi-caret-down"></i></button>
                    </div>
                </div>
                <div class="collage_box" routerLink="/college-details">
                    <div class="img_box">
                        <img src="assets/images/collage-bg1.jpg" alt="collage bg" title="" />
                        <div class="img_contain">
                            <h3>Indian Institute of Management (IIMB)</h3>
                            <p>
                                <img src="assets/images/location3.png" alt="location" title="" class="icon" />
                                Bangalore, Karnataka
                            </p>
                        </div>
                        <div class="logo"><img src="assets/images/collage-icon1.png" alt="collage logo" title="" /></div>
                    </div>
                    <h4>PH.D FINANCE & ACCOUNTS <br/>- TOTAL FEES</h4>
                    <h5>₹ 5,000</h5>
                    <button class="btn btn2">View all course & fees</button>
                    <button class="btn">APPLY Now</button>
                </div>
                <div class="collage_box" routerLink="/college-details">
                    <div class="img_box">
                        <img src="assets/images/collage-bg2.jpg" alt="collage bg" title="" />
                        <div class="img_contain">
                            <h3>Harsha Group of Institutuions (Harsha)</h3>
                            <p>
                                <img src="assets/images/location3.png" alt="location" title="" class="icon" />
                                Bangalore, Karnataka
                            </p>
                        </div>
                        <div class="logo"><img src="assets/images/collage-icon2.png" alt="collage logo" title="" /></div>
                    </div>
                    <h4>PH.D FINANCE & ACCOUNTS <br/>- TOTAL FEES</h4>
                    <h5>₹ 5,000</h5>
                    <button class="btn btn2">View all course & fees</button>
                    <button class="btn">APPLY Now</button>
                </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  
</ion-content>
